$main-blue: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
$white: #ffffff;
$gray :rgb(52, 71, 103) ;
$main-red: linear-gradient(195deg, rgba(236, 64, 121, 0.822), rgba(216, 27, 96, 0.856));
