$main-blue:  rgb(26, 115, 232) ;
$sub-blue:  rgba(73, 163, 241,0.4);
$white: #ffffff;
$grey-shadow: #0000003d;
$border-grey-solid: 1px solid #0000003d;
$border-grey-dashed: 1px dashed #0000003d;

$black: #000000;
$gray :rgb(52, 71, 103);
$main-red: #f9545b;
$orange: #ff9690;
$pink: #f9d4db;

