@import '../../assets/scss/variables/colorVariables';
@import '../../assets/scss/variables/mixin';

.manager-info__container {
    display: flex;
    justify-content: space-between;
    margin: 124px 16px 32px 16px;
    min-height: 500px;
    
    .left__container {
        @include main-section;
        margin-right: 16px;
        height: fit-content;
        flex: 1;

        button {
            font-weight: 400;
            padding: 8px

        }


    }

    .right__container {
        @include main-section;
        flex: 4;
        padding: 0;

        .tab--personal-info {
            padding: 16px;
            >div{
                padding: 0;
            }
            .personal-info__container{

                .title__box {
                    background: $sub-blue;
                    border-radius: 0.75rem;
                    padding: 16px;
                    min-height: 72px; 
                    display:flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
        

        
    }

    .tab--active {
        background-image: $main-blue ;
        color: $white !important;

    }
}
