@import '../../assets/scss/variables/colorVariables';
@import '../../assets/scss/variables/mixin';

.exam__container {
    display: flex;
    justify-content: space-between;
    margin: 124px 16px 32px 16px;
    min-height: 500px;
    
    .exam__container--left {
        @include main-section;
        margin-right: 16px;
        height: fit-content;

        button {
            font-weight: 400;
            padding: 8px

        }


    }

    .exam__container--right{
        @include main-section;
        flex: 1;
    }

    .tab--active {
        background-image: $main-blue ;
        color: $white !important;

    }
}
