@import "../../assets/scss/variables/colorVariables";
@import "../../assets/scss/variables/mixin";

.exam__container {
  display: flex;
  justify-content: space-between;
  margin: 32px 16px 32px 16px;
  min-height: calc(100vh - 170px - 124px - 32px);

  .exam__container--left {
    @include main-section;
    margin-right: 16px;
    height: fit-content;
    flex: 1;

    .title__box {
      @include title-section;
    }

    .question_answered__amount {
      color: $main-blue;
    }

    .select-question__box {
      margin-top: 12px;
      text-align: center;
      .select-question {
        margin-bottom: 16px;
      }

      button {
        padding: 0;
        border-radius: 4px;
        border: 0.5px solid $gray;
        margin: 4px;
        min-width: 32px;
        max-width: 32px;
        min-height: 32px;
        max-height: 32px;
        color: $gray;
        font-size: 0.7rem;
      }

      .MuiTouchRipple-root {
        display: none;
      }
    }

    .active {
      background: $main-red !important;
      color: $white !important;
    }

    .responsed {
      background: $main-blue;
      color: white !important;
    }
  }

  .exam__container--right {
    @include main-section;
    flex: 3;

    .detail__exam {
      @include title-section;

      button {
        background: $main-blue;
        color: $white;
      }
    }
    .title__question {
      padding: 16px;
    }

    .answer__container {
      padding: 16px;
      > .MuiFormControl-root {
        width: 100%;
        border: 1px solid $gray;
        border-radius: 8px;

        .MuiFormControlLabel-root {
          padding: 4px;
          margin: 0;
          border-bottom: 1px solid $gray;
        }

        .MuiFormControlLabel-root:last-child {
          border-bottom: 0;
        }
      }
      > .MuiFormGroup-root {
        width: 100%;
        border: 1px solid $gray;
        border-radius: 8px;

        .MuiFormControlLabel-root {
          padding: 4px;
          margin: 0;
          border-bottom: 1px solid $gray;
        }

        .MuiFormControlLabel-root:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}
