@import '../../assets/scss/variables/colorVariables';
.upload-image__section{
    position: relative;
    width: 180px;
    height: 180px;
    >.MuiBox-root:first-child {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate((-50%, -50%));
        .button__add{
            border: $border-grey-dashed;
        }
        &:hover {
            svg{
                display: none !important;
            }
        }
    }
    >.custom-file-upload{
        top: 50%;
        left: 50%;
        transform: translate((-50%, -50%));
        position: absolute;
        width: 180px;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            display: none;
        }
        &:hover {
            background-color: $grey-shadow;
            svg{
                display: block;
            }
        }
    }

    .image__other{
        border-radius: 12px;
        border:$border-grey-solid;
    }
    
}