<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Quản lý môn học</h4>
    </div>
    <div class="card-body">
      <app-stp-base-table
        [columns]="table_columns"
        [dataSource]="subject_datas_table"
        [isLoadingDataAgain]="is_loading_data_again"
      >
        <ng-template #actionRow let-element="element">
          <app-stp-base-modal
            [isClose]="is_close_edit_modal"
            [title]="title.edit_modal"
          >
            <span
              triggerModal
              (click)="on_click_edit(element?.id, element?.detail_data)"
            >
              <button class="btn bg-white p-1" style="margin-right: 0.5rem">
                <i class="fa fa-pencil text-success fa-lg"></i>
              </button>
            </span>

            <div bodyModal>
              <div class="modal-body">
                <form
                  nz-form
                  [formGroup]="subject_form"
                  id="edit-form"
                  (ngSubmit)="on_submit_edit_form()"
                >
                  <div class="row">
                    <div class="col-6">
                      <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Tên môn học</mat-label>
                        <input matInput formControlName="name" />
                      </mat-form-field>
                      <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Mã môn học</mat-label>
                        <input matInput formControlName="alias" />
                      </mat-form-field>
                      <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Thời gian thi</mat-label>
                        <input matInput formControlName="time" />
                      </mat-form-field>
                    </div>

                    <div class="col-6">
                      <app-stp-upload-image
                        [width]="'180px'"
                        [height]="'180px'"
                        [image]="subject_form?.value?.avatar"
                        (imageData)="change_avatar($event)"
                      >
                      </app-stp-upload-image>
                    </div>

                    <div class="col-6">
                      <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Số câu hỏi</mat-label>
                        <input matInput formControlName="amount_question" />
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Số câu đúng tối thiểu</mat-label>
                        <input
                          matInput
                          formControlName="min_correct_question_to_pass"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field class="w-100" appearance="fill">
                        <mat-label> Mô tả</mat-label>
                        <textarea
                          matInput
                          formControlName="description"
                        ></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </form>
              </div>

              <div class="modal-footer">
                <button
                  class="btn btn-dark font-weight-bold m-0"
                  (click)="is_close_edit_modal.next(true)"
                >
                  Huỷ
                </button>

                <span
                  [ngbTooltip]="
                    true ? 'Vui lòng kiểm tra lại các trường thông tin' : ''
                  "
                >
                  <button
                    type="submit"
                    form="edit-form"
                    class="btn btn-primary font-weight-bold m-0"
                  >
                    Lưu
                  </button>
                </span>
              </div>
            </div>
          </app-stp-base-modal>

          <app-stp-base-popover
            [popoverTitle]="title.delete_popover"
            [placement]="'left'"
          >
            <span triggerPopover>
              <button class="btn bg-white p-1">
                <i class="fa fa-trash-o fa-lg text-danger"></i>
              </button>
            </span>
            <div popContent>
              <div
                style="
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                "
                class="ml-2 mr-2"
              >
                <div
                  style="
                    font-size: 32px;
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  "
                  class="text-light bg-danger mb-2"
                >
                  <i class="fa fa-exclamation"></i>
                </div>
                <div class="text-center mb-4">
                  Bạn đã chắc chắn sẽ xoá thiết bị này?
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <button
                    class="btn btn-dark text-light font-weight-bold"
                    style="margin-right: 1rem"
                  >
                    Huỷ
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger font-weight-bold text-light"
                    (click)="delete(element.id)"
                  >
                    Xác nhận
                  </button>
                </div>
              </div>
            </div>
          </app-stp-base-popover>
        </ng-template>
      </app-stp-base-table>
    </div>
  </div>
</div>
